.map-container{
    display: flex;
    justify-content: center;
}

.map-container h2 {
    margin-top: 2rem;
    position: absolute;
    z-index: 2;
    color: #010101;
    font-weight: bold;
}

.pins-list{
    list-style-type: none;
    position: relative;
    width: 700px;
    height: 500px;
}

.hover-block{
    position: absolute;
    z-index: 1;
    background-color: blue;
    color: #fff;
    font-size: 0.8rem;
    width: fit-content;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}



