.map-container{
    display: flex;
    justify-content: center;
}

.pins-list{
    list-style-type: none;
    position: relative;
    border: 3px solid green;
    width: 700px;
    height: 400px;
}



